<div class="tree">
    <ul>
        <li>
            <ft-tree-node [text] = "parentText"></ft-tree-node>
            <ul>
                <li>
                	<span><a href="">Child</a></span>
                    <ul>
                        <li>
	                        <span><a href="">Grand Child</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                	<span><a href="">Child</a></span>
                    <ul>
                        <li>
	                        <span><a href="">Grand Child</a></span>
                        </li>
                        <li>
                        	<span><a href="">Grand Child</a></span>
                            <ul>
                                <li>
	                                <span><a href="">Great Grand Child</a></span>
		                            <ul>
		                                <li>
			                                <span><a href="">Great Great Grand Child</a></span>
		                                </li>
		                                <li>
			                                <span><a href="">Great Great Grand Child</a></span>
		                                </li>
		                             </ul>
                                </li>
                                <li>
	                                <span><a href="">Great Grand Child</a></span>
                                </li>
                                <li>
	                                <span><a href="">Great Grand Child</a></span>
                                </li>
                            </ul>
                        </li>
                        <li>
	                        <span><a href="">Grand Child</a></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span><a href="">Parent 2</a></span>
            <ul>
                <li>
                	<span><a href="">Child</a></span>
		        </li>
		    </ul>
        </li>
    </ul>
</div>