<div class="tree">
    <ul>
    	<li itemscope itemtype="http://schema.org/Person" class="with-spouse 1-siblings">
			<ul>
				<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="4-siblings">
					<ul>
						<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="3-siblings">
							<ul>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="4-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
									<meta itemprop="birthPlace" content="Widley, Cosham, Hants" />
									<meta itemprop="deathPlace" content="Portsmouth, Hampshire, England" />
									<span itemprop="homeLocation" itemscope itemtype="http://schema.org/PostalAddress">
									    <meta itemprop="description" content="Portsmouth, Hampshire, England" />
									</span>
								</li>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="10-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
							</ul>
							<a href="#" itemprop="url sameAs">
								<span itemprop="name">Grandma's Mother</span>
								<div class="time-block">
									<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
								</div>
							</a>
						</li>
						<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="2-siblings">
							<ul>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="3-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="3-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
							</ul>
							<a href="#" itemprop="url sameAs">
								<span itemprop="name">Grandma's Mother</span>
								<div class="time-block">
									<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
								</div>
							</a>
						</li>
					</ul>
					<a href="#" itemprop="url sameAs">
						<span itemprop="name">Grandma's Mother</span>
						<div class="time-block">
							<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
						</div>
					</a>
				</li>
				<li class="1-siblings">
					<ul>
						<li itemprop="parent" itemscope itemtype="http://schema.org/Person">
							<ul>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="end-node got-children">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="2-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
							</ul>
							<a href="#" itemprop="url sameAs">
								<span itemprop="name">Grandma's Mother</span>
								<div class="time-block">
									<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
								</div>
							</a>
						</li>
						<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="4-siblings">
							<ul>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="10-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
								<li itemprop="parent" itemscope itemtype="http://schema.org/Person" class="3-siblings end-node got-children got-parents">
									<a href="#" itemprop="url sameAs">
										<span itemprop="name">Grandma's Mother</span>
										<div class="time-block">
											<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
										</div>
									</a>
								</li>
							</ul>
							<a href="#" itemprop="url sameAs">
								<span itemprop="name">Grandma's Mother</span>
								<div class="time-block">
									<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
								</div>
							</a>
						</li>
					</ul>
					<a title="These details are private">[PRIVATE]</a>
				</li>
			</ul>
			<ol>
				<li class="with-spouse 1-siblings">
					<a href="#" itemprop="url sameAs">
						<span itemprop="name">Grandma's Mother</span>
						<div class="time-block">
							<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
						</div>
					</a>
					<div itemprop="spouse" itemscope itemtype="http://schema.org/Person">
						<a href="#" itemprop="url sameAs">
							<span itemprop="name">Grandma's Mother</span>
							<div class="time-block">
								<time itemprop="birthDate" datetime="1866-01-01">1866</time> - <time itemprop="deathDate" datetime="8 AUG 1938">1938</time>
							</div>
						</a>
					</div>
					<ol>
					    <li class="1-siblings end-node">
					    	<a title="These details are private">[PRIVATE]</a>
					    </li>
					    <li class="1-siblings end-node">
					    	<a title="These details are private">[PRIVATE]</a>
					    </li>
				    </ol>
				</li>
				<li class="1-siblings end-node">
					<a title="These details are private">[PRIVATE]</a>
				</li>
			</ol>
		</li>
    </ul>
</div>