<div class="row">
	<div class="col-xs-12">
		<img src="{{selectedPerson?.imagePath}}" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{selectedPerson?.firstName}} {{selectedPerson?.lastName}}</h1>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-primary">Edit</button>
		<button class="btn btn-danger">Delete</button>
	</div>
	<div class="col-xs-12">
		<h4><strong>Born:</strong> {{selectedPerson?.birthDate}}</h4>
		<h4><strong>Died:</strong> {{selectedPerson?.deathDate}}</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p><strong>Parents:</strong> {{selectedPerson?.father}} and {{selectedPerson?.mother}}</p>
	</div>
	<div class="col-xs-12">
		<p><strong>Other Information:</strong> {{selectedPerson?.otherInfo}}</p>
	</div>
</div>